<!-- header type 2 -->
<div class="header-container">
    <div class="navigation">
        <div class="more-option">
            <button class="hamburger hamburger--slider" type="button">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
            </button>                          
        </div>
        <div class="label ">
            <div>
                <h1 id="small">The</h1>
                <h1>News</h1>
            </div>
        </div>
    </div>   
</div>