<!-- sidebar -->
 
<div id="sidebar-container">
    <span  id="home"><a href="../index.html">Home</a></span>
    <span  id="world"><a href="local.html">local</a></span>
    <span id="entertainment"><a href="international.html">International</a></span>
    <span id="culture"><a href="culture.html">Culture</a></span>
    <span id="pop"><a href="sports.html">Sports</a></span>
    <span id="Innovation"><a href="economics.html">Economy</a></span>
    <span id="fashion"><a href="#">fashion</a></span>
    <span id="arts"><a href="#">Arts</a></span>
</div>